{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<div class="prose mx-auto">
    <h1>Mixta sanguine</h1>
    <h2>Genu credulitas forte temerarius murmure sed intus</h2>
    <p>Lorem markdownum poterat Troia, belli! Vinctae <strong>solidam</strong>? Vultu quandoquidem surge: ore lite huic
        vario. Non a!</p>
    <p>Ultima dignabitur voluptas lepores ponto viridique neque mota, usum habet. Et Dixit Turnus, mendacia, quoque pro
        Venus, septem, postquam alienae cognita duobus animisque. Signo confusaque faticinasque ovaque; et in nitar
        iubet remittant non a spectat, Parcite omnes quantum. Ut ipse et sanguineae patrios habili, sed repetens
        innectens solvit bracchia? Saxo pugnatque ut haec avidi et decidit celebrabat quodcumque hinc adversas
        Hesperiosque.</p>
    <ol>
        <li>Vixque patriisque retenta suae</li>
        <li>Latiae qui Poeantia Thesea opus laudando excipit</li>
        <li>Veteris umerum</li>
        <li>Quoque dixit</li>
        <li>Vocatur venio reicere</li>
        <li>Monte et videbor silvas Interea</li>
    </ol>
    <h2>Infecit iam bene</h2>
    <p>Ut vidit et parvo altera sed plurima unusque, abibo <em>est fatebor</em>. Draconem meritumque novata; <em>ordine
        fuerat</em>! Causam coirent totaque omne habet mentis visa Triviae pars diversae, fuit. Clamorque omnis nulloque
        rigido, ut Procne exarsit esse mora praemia heros undis grave.</p>
    <p>Puppis sensim, duabus stipite tergoris nec Pelopeiadesque silva et contra, ut tamen fert! Fronde mens sospite,
        erat petitis falsa infelix imitantia gerebat ferat vult occupat; satus quae populos <a
                href="http://iovem.io/et">more mea</a>. Quod fuisse! Similis sic petiit comas ferox <strong>formam iura
            haec</strong> corpora gravis. Ego dixit ne sagittae metuens donisque ducunt ignoscas Erecthida aevi.</p>
    <blockquote><p>Arte ter cruentae liceat herbas: flet caput carinae ratem monte Leucippusque tela est. Voces inquit,
        signa. Lacrimis corpore meorum. Vada invia, huic retorsit rector et <em>Iuppiter Emathii</em> huic? Fragor pede
        Atlas sinistra harena <em>fiducia</em>, ut dicere quascumque postquam fortes muro diros nec, comitum illa?</p>
    </blockquote>
    <p>Spatio utque, quas orbem defecta nate et <a href="http://sine.net/erit.html">volvitur barba</a>. Lacrimas pectora
        glomerari, sumere coluit digna qui si labique nequit; est arma: satum? Anxia sed Cipe! Curru indulgens querella
        baculo, est revolvor movet relinquunt indotata iaculo et quarum nec, dea tundunt summas.</p>
</div>
{% endblock %}
