{% extends "base.html" %}

{% block head %}
<link rel="prefetch" href="/css/rainbow.min.css" as="style">
<link rel="prefetch" href="/js/highlight.min.js" as="script">
{% endblock %}

{% block title %}Blog{% endblock %}

{% block content %}
<div preload>
    <div class="card bg-primary-content w-96 shadow-xl">
        <a class="card-body" href="/blog/inquit-incepta">
            <h2 class="card-title">Inquit incepta</h2>
            <p>Cura ter iam celebrabat relictis</p>
            <p>Lorem markdownum terrae, geras suppositosque sicut.</p>
        </a>
    </div>
</div>
{% endblock %}
