<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}My Site{% endblock %}</title>
    <link rel="stylesheet" href="/css/style.css">
    <meta name="description" content="">

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="">

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="manifest" href="/site.webmanifest">
    <meta name="theme-color" content="#fafafa">
    <script src="/js/htmx.min.js"></script>
    <script src="/js/head-support.min.js"></script>
    {% block head %}{% endblock %}
</head>

<body hx-boost="true" hx-ext="head-support, preload">

{% block header %}
<header class="content">
    <ul class="navbar flex justify-center" preload>
        <li class="btn mx-1 text-2xl"><a class="no-underline" href="/"><span class="text-fg1">Home</span></a></li>
        <li class="btn mx-1 text-2xl"><a class="no-underline" href="/blog"><span class="text-fg1">Blog</span></a></li>
        <li class="btn mx-1 text-2xl"><a class="no-underline" href="/contact"><span class="text-fg1">Contact</span></a></li>
    </ul>
</header>
{% endblock %}
{% block breadcrumbs %}{% endblock %}
<main class="container mx-auto my-3">{% block content %}{% endblock %}</main>
{% block footer %}
<footer class="footer">
    <div class="flex justify-center w-full my-3">
        <span>Copyright © 2024 Yunis Yilmaz</span>
    </div>
</footer>
{% endblock %}
<script src="/js/preload.min.js"></script>

</body>

</html>
